h1 {
  color:green;
  
}

.boxOne {
  padding: 10px;
  margin: 10px;
  width:200px;
  border: 5px springgreen dotted;
}
.boxTwo {
  padding: 10px;
  margin: 10px;
  width:200px;
  border: 5px springgreen dotted;
}
button {
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}
.tulos {
  padding: 10px;
  margin: 10px;
  width:400px;
  border: 5px springgreen dotted;
}