header {
  background: blue;
  
  width: 100%;
  text-align: center;
}

.container{
  background: lightskyblue;
  display: flex;
 padding: 1%;
 
}
footer {
  background: violet;
  text-align: center;
}
.tuotenostot{
  border: hidden;
  background: lightsalmon;
  width: 50%;
  padding: 2%;
  
}
.tuotenostot ul{
  display: inline;
  
  list-style: none;
  padding: 1%;
  margin: 0;
}
.tuotenostot li{
  float: left; 
  border: 5px hidden red;
  width: 30%;
  padding: 0;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right:1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  
}
ul button {
  
  margin: 0;
  padding: 0;
  width: 40%;
  
}
.rightBox{
  background: lightgreen;
  display: right;
  width: 50%;
  margin:1%
}

.rightBox ul{
  list-style: none;
}
.pikaKori{
  background: lightseagreen;
  padding: 4%;
  margin: 4%;
  width: 50%;
}
img {
  width: 150px;
  height: 150px;
  margin:0;
  padding:0;
  
}
