body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.mdl-layout {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.mdl-layout-title {
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}
.mdl-layout__header {
    width: 100%; 
    background-color: #3f51b5; 
}
.mdl-grid {
    font-size: 10px;
}
.mdl-cell {
    font-size: 10px;
}
.center-content {
    padding-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-container {
    width: 80%;
}
.form-container {
    width: 50%; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto; /* Center the form container */
}
.form-container h1 {
    font-size: 24px;
}
.form-container .mdl-textfield__input {
    font-size: 16px;
}
.form-container .mdl-button {
    font-size: 16px;
}
